<div class="panel panel-default">
  <div class="panel-heading">
    Informations
  </div>
  <div class="panel-body">
    <dl>
      <dt>Nom</dt>
      <dd>{{model.fullName}}</dd>
      <dt>Parti</dt>
      <dd>{{model.party}}</dd>
      <dt>Adresse</dt>
      <dd>
        {{model.address}}
        ,<br>
        {{model.postalCode}}
        ,<br>
        {{model.town}}
      </dd>
      <dt>Téléphone</dt>
      <dd>{{model.phone}}</dd>
      <dt>Fax</dt>
      <dd>{{model.fax}}</dd>
      <dt>Email</dt>
      <dd>{{model.email}}</dd>
      <dt>Site</dt>
      <dd>{{model.site}}</dd>
    </dl>
  </div>
</div>
