<div class="panel panel-default panel-authors">
  <div class="panel-heading">
    Auteurs
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="pull-left">
        {{{askedBy.thumbImage}}}
      </div>
      <div class="media-body">
        {{#linkTo 'politician' askedTo}}
          {{askedBy.fullName}}
        {{/linkTo}}
        <p>{{askedBy.party}}</p>
      </div>
    </div>
    <div class="media">
      {{#if askedTo.thumbImage}}
        <div class="pull-left">
          {{{askedTo.thumbImage}}}
        </div>
      {{/if}}
      <div class="media-body">
        {{#linkTo 'politician' askedTo}}
          {{askedTo.fullName}}
        {{/linkTo}}
        <p>{{askedTo.party}}</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
