<div class="col-xs-8 activityfeed">
  {{#each question in questions}}
    {{view Noselus.QuestionListView contentBinding='question'}}
  {{/each}}
</div>

<aside class="col-xs-4 sidebar">
  {{widget-mini-profile fullName='fullName'}}
  {{widget-profile-infos fullName=fullName}}
  {{widget-map}}
  {{widget-people}}
  {{widget-category}}
  {{widget-tagcloud}}
</aside>
