<div class="row">
  <div class="col-md-8 activityfeed">
    <div class="search-form form">
      <div class="form-group">
        {{view Ember.TextField valueBinding="searchQuery" class='form-control input-lg search-field' placeholder="Rechercher une question, une thématique"}}
      </div>
    </div>
    {{#if searchQuery}}
      <div class="search-query">
        <h3>Résultats pour: {{searchQuery}}</h3>
      </div>
    {{/if}}
    <div class="inf-scroll-outer-container vertical">
      <div class="inf-scroll-inner-container">
        {{#if questions}}
          {{#each question in questions}}
            {{render 'question_list' question}}
          {{/each}}
        {{else}}
          <div class="alert alert-warning">Nous n'avons pas trouvé de questions posée par ce politicien</div>
        {{/if}}
      </div>
    </div>

    {{#if loadingMore}}
      <div class="spinner"></div>
    {{/if}}

  </div>

  <aside class="col-md-4 hidden-xs sidebar">
    {{widget-mini-profile model=model}}
    {{widget-profile-infos model=model}}
  </aside>

</div>