<div class="col-xs-8 activityfeed">
  {{#each question in questions}}
    {{view Noselus.QuestionListView contentBinding='question'}}
  {{/each}}
</div>

<aside class="col-xs-4 sidebar">
  {{widget-mini-profile model=model}}
  {{widget-profile-infos model=model}}
  {{widget-map-profile model=model}}
  {{widget-category categories=tags}}
  {{widget-tagcloud tags=tags}}
</aside>
