  {{!-- Here we assume you want to go back to the politician that asked the question or the questions index --}}
  <a {{action 'goBack' askedBy}} class="btn btn-default back-button btn-sm">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retours aux questions
  </a>
  <div class="panel question row">
    <div class="col-xs-12">
      <div class="question--header page-header">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div class="question--text question--text-question media col-md-6">
      <div class="pull-left">
        {{{askedBy.thumbImage}}}
      </div>
      <div class="media-body">
        <header>
          <h4 class="question--header--authors text-muted small">
            {{#link-to 'politician' askedBy}}
              <strong>{{askedBy.fullName}}</strong>
            {{/link-to}}
            a demandé
            {{format-date dateAsked}} :
          </h4>
        </header>
        {{{clean-text questionText}}}
      </div>
    </div>
    <div class="question--text question--text-question media col-md-6">
      <div class="pull-left">
        {{{askedTo.thumbImage}}}
      </div>
      <div class="media-body">
        <header>
          <h4 class="question--header--authors text-muted small">
            {{#link-to 'politician' askedTo}}
              <strong>{{askedTo.fullName}}</strong>
            {{/link-to}}
            a répondu:
          </h4>
        </header>
        {{#if answerText}}
          {{{clean-text answerText}}}
        {{else}}
          <div class="alert alert-warning">
            {{askedTo.fullName}} n'a pas encore réondu à la question.
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{!--   <aside class="col-xs-4 sidebar">
    {{widget-authors askedBy=askedBy askedTo=askedTo}}
  </aside> --}}
