<div class="col-xs-8 panel question">
  {{#linkTo 'questions' class="btn btn-primary back-button"}}
    Retours aux questions
  {{/linkTo}}

  <div class="question--header page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="question--text question--text-question media">
    <div class="pull-left">
      {{{askedByPolitician.thumbImage}}}
    </div>
    <div class="media-body">
      <header>
        <h4 class="question--header--authors text-muted small">
          {{#linkTo 'politician' askedByPolitician}}
            {{askedByPolitician.fullName}}
          {{/linkTo}}
          a demandé:
        </h4>
      </header>
      {{{questionText}}}
    </div>
  </div>
  {{#if answerText}}
    <hr>
    <div class="question--text question--text-question media">
      <div class="pull-left">
        {{{askedToPolitician.thumbImage}}}
      </div>
      <div class="media-body">
        <header>
          <h4 class="question--header--authors text-muted small">
            {{#linkTo 'politician' askedToPolitician}}
              {{askedToPolitician.fullName}}
            {{/linkTo}}
            a répondu:
          </h4>
        </header>
        {{{answerText}}}
      </div>
    </div>
  {{/if}}
</div>

<aside class="col-xs-4 sidebar">
  {{widget-authors askedBy=askedByPolitician askedTo=askedToPolitician}}
  {{widget-category categories=tags}}
  {{widget-tagcloud tags=tags}}
</aside>

