<div class="row">
  <div class="col-xs-12 activityfeed">
    <div class="panel search-form form">
      <div class="panel-body">
        <div class="form-group">
          {{view Ember.TextField valueBinding="searchQuery" class='form-control input-lg search-field' placeholder="Rechercher une question, une thématique ou un politique"}}
        </div>
      </div>
    </div>
    {{#if searchQuery}}
      <h3 class="page-header">Résultats pour: {{searchQuery}}</h3>
    {{/if}}

    <div class="inf-scroll-outer-container vertical">
      <div class="inf-scroll-inner-container">
        {{#each question in controller}}
          {{render 'question_list' question}}
        {{/each}}
      </div>
    </div>

    {{#if loadingMore}}
      <div class="spinner"></div>
    {{else}}
      <a href='#' {{action 'getMore'}}>Load more data (manually)</a>
    {{/if}}

  </div>
</div>
