<div class="col-xs-8 panel question">
  <div class="panel-heading">
    {{#linkTo 'questions'}}
      Retours aux questions
    {{/linkTo}}
  </div>

  <div class="question--header page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="question--text question--text-question media">
    <div class="pull-left">
      {{{askedByPolitician.thumbImage}}}
    </div>
    <div class="media-body">
      <header>
        <h4 class="question--header--authors text-muted small">
          {{#linkTo 'politician' askedByPolitician}}
            {{askedByPolitician.fullName}}
          {{/linkTo}}
          a demandé:
        </h4>
      </header>
      {{{questionText}}}
    </div>
  </div>
  <hr>
  <div class="question--text question--text-question media">
    <div class="pull-left">
      <img src="http://uifaces.com/faces/audrey_48.jpg" alt="" class="media-object avatar">
    </div>
    <div class="media-body">
      <header>
        <h4 class="question--header--authors text-muted small">
          {{#linkTo 'politician' askedByPolitician}}
            Rudy De motte
          {{/linkTo}}
          a répondu:
        </h4>
      </header>
      {{{answerText}}}
    </div>
  </div>
</div>

<aside class="col-xs-4 sidebar">
  {{widget-authors}}
  {{widget-map}}
  {{widget-people title='People'}}
  {{widget-category}}
  {{widget-tagcloud}}
</aside>

