<div class="activityfeed--story">
  <div class="media">
      <div class="pull-left">
        {{{question.askedByPolitician.thumbImage}}}
        {{{question.askedToPolitician.thumbImage}}}
      </div>
      <div class="media-body">
        {{! <div class="pull-right"><img src="/images/logo-fed.png"></div> }}
        <div class="pull-right" rel='tooltip' title='Parlement Wallonne'><img src="/images/logo-wal.png"></div>
        <small class="activityfeed--header--authors text-muted small">
          {{#linkTo 'politician' question.askedByPolitician}}
            {{question.askedByPolitician.fullName}}
          {{/linkTo}}
          a demandé à
          {{#linkTo 'politician' question.askedToPolitician}}
            {{question.askedToPolitician.fullName}}
          {{/linkTo}}
        </small>
        <header class="activityfeed--header">
          <h3>
            {{#linkTo 'question' question}}
              {{question.title}}
            {{/linkTo}}
          </h3>
        </header>
        <div class="activityfeed--excerpt">
          <p>{{{question.excerpt}}}</p>
          <p>
            {{#linkTo 'question' question}}
              Lire la suite
            {{/linkTo}}
          </p>
        </div>
      </div>
  </div>
  <div class="activityfeed--socialbox">
    <ul class="activityfeed--socialbox--actions">
      <li><a href=''>J'aime</a></li>
      <li><a href=''>Suivre</a></li>
      <li><a href=''>Lire plus tard</a></li>
    </ul>
  </div>
</div>
