<div class="activityfeed--story">
  <div class="media">
      <div class="pull-left">
        {{#linkTo 'politician' question.askedByPolitician}}
          {{{question.askedByPolitician.thumbImage}}}
        {{/linkTo}}
        {{#linkTo 'politician' question.askedToPolitician}}
          {{{question.askedToPolitician.thumbImage}}}
        {{/linkTo}}
      </div>
      <div class="media-body">
        <div {{bindAttr class='question.askedByPolitician.assembly'}}></div>
        <small class="activityfeed--header--authors text-muted small">
          {{#linkTo 'politician' question.askedByPolitician}}
            {{question.askedByPolitician.fullName}}
          {{/linkTo}}
          a demandé à
          {{#linkTo 'politician' question.askedToPolitician}}
            {{question.askedToPolitician.fullName}}
          {{/linkTo}}
          {{format-date question.dateAsked}}
        </small>
        <header class="activityfeed--header">
          <h3>
            {{#linkTo 'question' question}}
              {{question.title}}
            {{/linkTo}}
          </h3>
        </header>
        <div class="activityfeed--excerpt">
          <p>{{{question.excerpt}}}</p>
          <p>
            {{#linkTo 'question' question}}
              Lire la suite
            {{/linkTo}}
          </p>
        </div>
      </div>
  </div>
  <div class="activityfeed--socialbox">
    <ul class="activityfeed--socialbox--actions">
      <li><a href=''>J'aime</a></li>
      <li><a href=''>Suivre</a></li>
      <li><a href=''>Lire plus tard</a></li>
    </ul>
  </div>
</div>
