<div class="media">
    <div class="pull-left">
      {{#link-to 'politician' askedByPolitician}}
        {{{askedByPolitician.thumbImage}}}
      {{/link-to}}
      {{#link-to 'politician' askedToPolitician}}
        {{{askedToPolitician.thumbImage}}}
      {{/link-to}}
    </div>
    <div class="media-body">
      <div {{bind-attr class='askedByPolitician.assembly'}}></div>
      <small class="activityfeed--header--authors text-muted small">
        {{#link-to 'politician' askedByPolitician}}
          {{askedByPolitician.fullName}}
        {{/link-to}}
        a demandé à
        {{#link-to 'politician' askedToPolitician}}
          {{askedToPolitician.fullName}}
          {{#if questionHasAnswer}}
            (Répondu)
          {{/if}}
        {{/link-to}}
        {{format-date dateAsked}}
      </small>
      <header class="activityfeed--header">
        <h3>
          {{#link-to 'question' question}}
            {{title}}
          {{/link-to}}
        </h3>
      </header>
      <div class="activityfeed--excerpt">
        <p>{{{excerpt}}}</p>
        <p>
          {{#link-to 'question' question}}
            Lire la suite
          {{/link-to}}
        </p>
      </div>
    </div>
</div>
