<div class="media">
    <div class="pull-left">
      {{#link-to 'politician' askedByPolitician}}
        {{{askedByPolitician.thumbImage}}}
      {{/link-to}}
      {{#link-to 'politician' askedToPolitician}}
        {{{askedToPolitician.thumbImage}}}
      {{/link-to}}
    </div>
    <div class="media-body">
      <div {{bind-attr class='askedByPolitician.assembly'}}></div>
      <header class="activityfeed--header">
        <h3>
          {{#link-to 'question' question}}
            {{title}}
          {{/link-to}}
        </h3>
      </header>
      <small class="activityfeed--header--authors text-muted small">
        Posée
        {{format-date dateAsked}}
        par
        {{#link-to 'politician' askedByPolitician}}
          {{askedByPolitician.fullName}}
        {{/link-to}}
        à
        {{#link-to 'politician' askedToPolitician}}
          {{askedToPolitician.fullName}}
        {{/link-to}}

        {{#if questionHasAnswer}}
          <span class="activityfeed--header--authors--answer-added"></span>
          <i class="glyphicon glyphicon-share-alt text-muted"></i>
          Réponse ajoutée
          {{!-- TODO replace by real answered_at date --}}
          {{!-- {{format-date dateAsked}} --}}
        {{/if}}
      </small>
      <div class="activityfeed--excerpt">
        <p>{{{clean-text excerpt}}}</p>
        <p>
          {{#link-to 'question' question}}
            Lire la suite
          {{/link-to}}
        </p>
      </div>
    </div>
</div>
