<div class="row">
  <div class="col-xs-8 panel question">
    {{!-- Here we assume you want to go back to the politician that asked the question or the questions index --}}
    <a {{action 'goBack' askedByPolitician}} class="btn btn-primary back-button">
      Retours aux questions
    </a>

    <div class="question--header page-header">
      <h1>{{title}}</h1>
    </div>

    <div class="question--text question--text-question media">
      <div class="pull-left">
        {{{askedByPolitician.thumbImage}}}
      </div>
      <div class="media-body">
        <header>
          <h4 class="question--header--authors text-muted small">
            {{#link-to 'politician' askedByPolitician}}
              {{askedByPolitician.fullName}}
            {{/link-to}}
            a demandé
            {{format-date dateAsked}} :
          </h4>
        </header>
        {{{clean-text questionText}}}
      </div>
    </div>
    {{#if answerText}}
      <hr>
      <div class="question--text question--text-question media">
        <div class="pull-left">
          {{{askedToPolitician.thumbImage}}}
        </div>
        <div class="media-body">
          <header>
            <h4 class="question--header--authors text-muted small">
              {{#link-to 'politician' askedToPolitician}}
                {{askedToPolitician.fullName}}
              {{/link-to}}
              a répondu:
            </h4>
          </header>
          {{{clean-text answerText}}}
        </div>
      </div>
    {{/if}}
  </div>

  <aside class="col-xs-4 sidebar">
    {{widget-authors askedBy=askedByPolitician askedTo=askedToPolitician}}
  </aside>
</div>
